body {
    color: #22356F;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    font-style: normal;
    font-family: 'Larsseit', sans-serif;
}

header {
    position: relative;
    overflow: hidden;
}

h1, h2, h4 {
    font-family: 'Larsseit', sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
}

.btn {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn a {
    padding: 20px 30px;
}

/* non reusable components */

.logo {
    color: #62D0DF;
    font-weight: 700;
    letter-spacing: -0.84px;
}

.header__background {
    position: absolute;
    background: #F4F9E2;
    height: 100%;
    width: 75%;
    top: 0;
    z-index: -1;
}

.header__background-item {
    width: 807.707px;
    height: 544.933px;
    transform: rotate(120deg);
    border-radius: 312.159px;
    background: #EDFDFF;
    position: absolute;
    top: 5%;
    left: 70%;
}
  
.header__background-photo {
    width: 807.707px;
    height: 544.933px;
    overflow: hidden;
    border-radius: 312.159px;
    transform: rotate(150deg);
    position: absolute;
    top: 15%;
    left: 70%;
}
  
.header__background-personPhoto {
    width: 100%;
    transform: rotate(-150deg);
    position: absolute;
    top:-25%;
}

.header__content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding-top: 27px;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.menu__item {
    font-size: 14px;
    margin-right: 25px;
    font-weight: 300;
}

.menu__item_active a {
    font-weight: 500;
    border-bottom: solid 1.5px #22356F;
}

.contact-btn {
    background-color: #62D0DF;
    color: #fff;
    font-size: 14px;
    border-radius: 50px;
}

.contact-btn:hover {
    background-color: #fff;
    color: #62D0DF;
    outline: solid;
}

.thrivetalk {
    padding-top: 164px;
    padding-bottom: 75px;
}

.thrivetalk__name {
    color: #62D0DF;
    letter-spacing: -0.84px;
    font-weight: 700;
    margin-bottom: 20px;
}

.thrivetalk__title {
    width: 40%;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.68px;
    margin-bottom: 75px;
    text-transform: uppercase;
}

.thrivetalk__description {
    width: 40%;
    font-weight: 300;
    line-height: 200%;
    margin-bottom: 65px;
}

.thrivetalk__btn-who {
    letter-spacing: 1.6px;
    color: #fff;
    background-color: #F9B640;
}

.thrivetalk__btn-who:hover {
    color: #F9B640;
    background-color: #F4F9E2;
    outline: solid;
}

.thrivetalk__btn-what {
    letter-spacing: 1.6px;
    color: #F9B640;
}

.thrivetalk__btn-what:hover {
    color: #fff;
    background-color: #F9B640;
}